<!DOCTYPE html>
<html>
    <head>
        <title>The Boutique Pets/Roles</title>
        <link rel="stylesheet" href="/css/inicio-roles.css">
    </head>
    <body>
        
        <p class="titulo">The Boutique Pets</p>
    
        <hr>

        <div class="cuerpo" id="contenido">
            <div id="menu">
       
                
               <ul><br>
                <a href="/html/inicio-roles.html">
                <p><width="100" height="50"></a>
                <a href="/html/inicio-roles.html" class="boton1">USUARIOS</a>
                <a href="/html/Usuario/inicio-usuarios.html" class="boton1">ADMINISTRADOR</a>
               </ul>
           </div>
         </div>


    
        <input>
        <img src="/img/usuaios.png">
            <a href="/html/Usuario/registro-usuarios.html" class="vermas"></a>
            
            </input>
    </input>

    <input>
        <img src="/img/empleado.png">
        <input class="ingresar">
            <a href="registro-usuarios.html" class="vermas"></a>
            
            </input>
    </input>
    <input>
        <img src="/img/domiciliario.png">
        <input class="ingresar">
            <a href="registro-usuarios.html" class="vermas"></a>
            
            </input>
    </input>
    <input>
        <img src="/img/administrador.png">
        <input class="ingresar">
            <a href="registro-usuarios.html" class="vermas"></a>
            </input>
    </input>
        </input>

        <input>
        <p class="textofinal">A SU SERVICIO!!</p>
        </input>
    </body>
</html>