<DOCTYPE html>
    <html>
        <head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
            <title>The Boutique Pets compras</title>
            <link rel="stylesheet" href="/css/Usuario/carrito-compras.css">
        <center><h1>Compras</h1></center>
        </head>
        <body background="../img/background-fondo-veterinaria-el-toro-pet-shop-colombia.jpg">
            <div>
                <div class="prising-header px-3 py-3 pt-md-5 pb-md-4 my-4 mx-auto text: center">
                    <hl class="display-4 mt-4"> Tus Compras!!</hl>
                    <p class="lead">Tus Productos</p>
                 </div>
            </div>
 
            <div class="container" id="lista-productos">
            
            <div class="card-deck mb-3 text=center">
            <div class="card mb-4 shadow-sm">
                <div class="card-header">
                    <h4 class="my-0 font-weigth-bold">Mirringo Adulto, Mirringo Cachorros</h4>
                </div>
             <div class="card-body"> 
                 <img src="/img/mirringo-adultos.png" class="card-img-top" >
                 <h1 class="card-title prising-card-title precio">$ <spam class="">7.000, 7.300</spam></h1>
                 <ul class="list-unstyled mt-3 mb-4">
                 
                 <li>Pescado y pollo</li>
                 </ul>
                  
        </body>
    </html>