<DOCTYPE html>
  <html>
      <head>
          <title>Registrarse Usuarios</title>
          <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
              <link rel="stylesheet" href="../../css/Usuario/registro-usuarios.css">
      </head>
      <body background="../../img/background-fondo-veterinaria-el-toro-pet-shop-colombia.jpg">
        
        <section class="form-ingresar">
          <form action="php/registro.php" method="POST">
                  <label>Nombre</label>
                    <input class="controls" type="text" name="nombre" value="" placeholder="ingresar">
                  <label>Apellido</label>
                    <input class="controls" type="text" name="apellido" value="" placeholder="ingresar">
                  <label>Número de Documento</label>
                    <input class="controls" type="varchar" name="id" value="" placeholder="ingresar">
                  <label>Correo</label>
                    <input class="controls" type="varchar" name="correo" value="" placeholder="ingresar">
                  <label>Contraseña</label>
                    <input class="controls" type="password" name="clave" value="" placeholder="ingresar">
                  <input type="submit" value="Registrarse">
               </form>
                     
          </input>
      </body>
  </html>